{
  "printWidth": 80,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["*.html", "*.component.html"],
      "options": {
        "parser": "angular"
      }
    }
  ]
}
